{{define "yield"}}
<h2>Welcome to the 90's</h2>
<p>
    You are entering a world of evil IT corporation
    and fantastic computer system. We, a team trained
    in storytelling and graphic design, will unravel for
    you this world. Beware.
</p>
{{end}}
